.about_container{
    /* background-image: linear-gradient(to right, #2072BB , #7339B4); */
    background-image: url(/public/images/office.jpg);
    background-color: rebeccapurple;
margin-top: 10rem;
color: #ffffff;
}
.about_bg_color{
        background-image: linear-gradient(to right, #2073bbe8 , #7239b4e8);

}
.about_sub_container{
    width: 83%; 
    margin: auto;
    display: flex;
    align-items: center;
    /* background-color: aqua;     */
}
.about_img{
    width: 25%;
    /* background-color: orange; */
    display: inline-block;
    text-align: center;
    
}
.about_vertical{
    width: 15rem;
    height: .3rem;
    margin-bottom: -2rem;
    margin-left: -6rem;
    background-color: #ffffff;
}
.about_horizontal{
    width: 15rem;
    height: .3rem;
    margin-top: 6rem;
   margin-left: -11rem;
    background-color: #ffffff;
    rotate: 90deg;
}
.about_img img{
    border-radius: 20px;
}
.about_content{
    width: 75%;
    padding: 5rem 0rem 5rem 3rem;
    background-image: url(/public/images/quotes.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    /* background-size: 45rem; */
    width: 100%;
    height: auto;
    /* background-color: palevioletred; */
    display: inline-block;
    position: relative;
}
.about_content h2{
    font-size: 2.5rem;
    width: fit-content;
    margin-left: 3rem;
    text-align: center;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
    text-transform: uppercase;
}
.about_content p{
    margin-top: 4rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
}
.about_content img{
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
}
/* .about_content img:hover{
    width: 3.5rem;
    height: 3.5rem;
} */
.about_left_img{
    margin-right: 2rem;
    transform: scaleX(-1);
   
}

.about_right_img:hover{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    
}