.main_banner {
  width: 100%;
  height: auto;
  margin-top: -8rem;
  padding-top: 0.1rem;
  background-image: linear-gradient(to right, #2072bb, #7339b4);
}
.banner_container {
  width: 83%;
  /* background-color: yellow; */
  margin: auto;
  margin-top: 14rem;
  padding-bottom: 9rem;
  display: flex;
}
.banner_content {
  display: inline-block;
  width: 60%;
  color: #ffffff;
  /* background-color: red; */
}
.banner_content h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: rgb(197, 195, 195);
  /* width: fit-content; */
}
.banner_content h1 span {
  color: #ffffff;
  font-size: 3.2rem;
}
.banner_content p {
  width: fit-content;
  margin-top: 2.5rem;
  margin-right: 5rem;
  font-size: 1.2rem;
}
.banner_content button {
  width: 4rem;
  height: 2rem;
}
.banner_content button i {
  color: red;
  width: 2rem;
  height: 1rem;
}
.banner_icon h4 {
  margin-top: 2rem;
  margin-left: 1rem;
  display: inline-block;
  text-transform: uppercase;
}
.banner_icon h4:hover {
  cursor: pointer;
  color: yellow;
}
.banner_icon img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #ffffff;
}
.banner_img {
  width: 40%;
  display: inline-block;
  margin: auto;
  /* background-color: greenyellow; */
}
.banner_img img {
  width: 100%;
  height: auto;
}
/* ------------------------------Card-------------------------------- */
.banner_card_container {
  width: 92%;
  background-color: rgba(255, 0, 0, 0);
  margin: auto;
  margin-top: -2rem;
  text-align: center;
  letter-spacing: 1px;
}
.banner_card {
  align-items: center;
  border: 0;
  background-color: #7239b400;
}
.banner_card_body {
  width: 20rem;
  overflow: auto;
  padding: 2rem 2rem;
  background-image: linear-gradient(#ffffff, #a5d4fb3b);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.47);
}
.banner_card_body p {
  font-size: 1rem;
}
.banner_card_body img {
  width: 5rem;
  height: 5rem;
}
.banner_card_body h5 {
  margin-top: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
/* -----------------------Responsiveness------------------------ */

@media (max-width: 500px) {
  .banner_container {
    width: 83%;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 12rem;
    display: block;
  }
  .banner_content {
    display: block;
    width: 100%;
    color: #ffffff;
    /* background-color: red; */
  }
  .banner_content h1 {
    font-size: 2rem;
  }
  .banner_content h1 span {
    font-size: 2.5rem;
  }
  .banner_img {
    width: 100%;
    display: block;
    padding-bottom: 0rem;
  }
}
